:root {
    --violet: #5964E0;
    --light-violet: #939BF4;
    --dark-violet: #C5C9F4;
    --gray: #9daec2;
    --dark-grey: #6e8098;
    --midnight: #121721;
    --very-dark-blue: #19202D;
    --white: #ffffff;
    --light-grey: #f4f6f8;
    --light-blue: #EEEFFC;
    --dark-blue: #303642;
    --brown: #525861;
    --light-ash: #9DAEC2;
    --dark-ash: #6E8098;
    --ash-light: #7B7C7D;

    
    --prime-mode-1: var(--light-grey);
    --prime-mode-2: var(--white);
    --prime-mode-3: var(--very-dark-blue);
    --prime-mode-4: var(--violet);
    --prime-mode-5:var(--light-blue);
    --prime-mode-6: var(--dark-violet);
    --prime-mode-7: var(--dark-ash);
}

.darkmode {
    --prime-mode-2: var(--very-dark-blue);
    --prime-mode-1: var(--midnight);
    --prime-mode-3: var(--white);
    --prime-mode-4: var(--white);
    --prime-mode-5: var(--dark-blue);
    --prime-mode-6: var(--brown);
    --prime-mode-7: var(--light-ash)
    
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--prime-mode-1);
}

.wrapper {
    max-width: 1440px;
    max-height: 1620px;
    margin: 0 auto;
}  

nav {
    background-image: url(./assets/desktop/bg-pattern-header.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 150px;
}

.toggle {
    margin-right: 150px;
    display: flex;
    justify-content:space-around;
    width: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 0px;
    bottom: 3px;
    background-color: var(--violet);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.slider.round:hover::before {
    background-color: var(--light-violet);
}

.bor {
    border-right: 0.1px solid var(--dark-grey);
    height: 80px;
    padding: 20px;
}

.button {
    width: 123px;
    height: 48px;
    background-color: var(--violet);
    color: var(--prime-mode-2);
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.button:hover {
    background-color: var(--light-violet);
}

.btn-2 {
    align-items: center;
    margin-bottom: 60px;
    margin-left: 650px;
}

.filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1110px;
    height: 80px;
    background-color: var(--prime-mode-2);
    margin: -30px auto;
}

#fil-search {
    background-image: url(./assets/desktop/icon-search.svg);
    background-repeat: no-repeat;
    padding: 16px 30px;
    width: 280px;
    height: 24px;
    border: none;
    color: var(--prime-mode-3);
    background-color: var(--prime-mode-2);
}

#fil-location {
    background-image: url(./assets/desktop/icon-location.svg);
    background-repeat: no-repeat;
    padding: 16px 30px;
    width: 220px;
    height: 24px;
    border: none;
    color: var(--prime-mode-3);
    background-color: var(--prime-mode-2);
}

#mobile-form {
    display: none;
}

.mobile-menu-container {
    display: none;
}

.full-time {
    color: var(--prime-mode-3);
    width: 148px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.jobs {
    max-width: 1110px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 65px;
    column-gap: 30px;
}

.job-card {
    background-color: var(--prime-mode-2);
    max-width: 350px;
    height: 228px;
    border-radius: 6px;
}

.job-logo {
    margin-top: -20px;
    margin-left: 25px;
    max-width: 50px;
    height: 50px;
    border-radius: 10px;
}

.job-name {
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: var(--dark-grey);
    margin-left: 25px;
}

.job-name > h3 > a {
    text-decoration: none;
    color: var(--prime-mode-3);
}

.job-name > h3 > a:hover {
    color: var(--dark-grey);
}

.job-location {
    margin-left: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--violet);
}


/* Scoot.html */

.scoot-navbar {
    width: 730px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    background-color: var(--prime-mode-2);
    margin: -50px auto;
}

.scoot-box {
    display: flex;
}

.scoot-img {
    width: 140px;
    height: 140px;
}

.scoot-img > img {
    width: 81px;
    height: 23px;
    margin: 50px 10px 10px 25px;
}

.scoot-sub, .officelite-sub, .pod-sub, .creative-sub, .pomodoro-sub, .coffeeroasters-sub, .mastercraft-sub {
    margin-left: 40px;
    margin-top: 15px;
}

.scoot-sub > h2, .officelite-sub > h2, .pod-sub > h2, .creative-sub > h2, .pomodoro-sub > h2, .coffeeroasters-sub > h2, .mastercraft-sub > h2 {
    color: var(--prime-mode-3);
}

.scoot-sub > p, .officelite-sub > p, .pod-sub > p, .creative-sub > p, .pomodoro-sub > p, .coffeeroasters-sub > p, .mastercraft-sub > p {
    color: var(--dark-grey);
}

.button-wht {
    width: 123px;
    height: 48px;
    color: var(--prime-mode-4);
    background-color: var(--prime-mode-5);
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin-top: 40px;
    margin-right: 30px;
    font-weight: 700;
}

.button-wht:hover {
    background-color: var(--prime-mode-6);
}

.sct-details, .blogr-details, .vector-details, .officelite-details, .pod-details, .creative-details, .pomodoro-details, .maker-details, .coffeeroasters-details, .mastercraft-details, .crowdfund-details, .typemaster-details {
    max-width: 730px;
    max-height: 1360px;
    margin: 100px auto;
    padding: 50px;
    background-color: var(--prime-mode-2);
}

.sct-article-head {
    width: 639px;
    height: 87px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sct-post, #foot-sct-p {
    color: var(--dark-grey);
}

#sct-job-location {
    color: var(--violet);
    font-weight: 700;
}

#sct-job-title, .sct-article > h3, #footer-sct-h {
    color: var(--prime-mode-3);
}

.sct-article{
    line-height: 30px;
    padding-top: 10px;
}

.sct-article > p, .sct-article > ul, .sct-article > ol {
    color: var(--prime-mode-7);
}

footer {
    width: 1440px;
    height: 96px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 5px;
    background-color: var(--prime-mode-2);
}


/* Tablet Screen */

@media (max-width: 1100px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    nav {
        background-image: url(./assets/tablet/bg-pattern-header.svg);
    }

    .logo {
        margin-left: 60px;
    }

    .toggle {
        margin-right: 60px;
    }

    #mobile-form {
        display: none;
    }

    .mobile-menu-container {
        display: none;
    }

    .filter {
        width: 689px;
    }

    #fil-search {
        width: 138px;
    }

    #fil-location {
       width: 180px; 
    }

    .btn-1 {
        width: 80px;
    }


    .jobs {
        width: 689px;
        grid-template-columns: auto auto;
        row-gap: 65px;
        column-gap: 11px;
    }
    
    .job-card {
        width: 339px;
    }

    .btn-2 {
        margin-left: 340px;
    }

    footer {
        width: 100%;
    }

}





/* Mobile Screen */

@media (max-width: 700px)  {

    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    nav {
        background-image: url(./assets/mobile/bg-pattern-header.svg);
        align-items: center;
        align-content: center;
    }

    .logo {
        margin-left: 12px;
    }

    .toggle {
        margin-right: 15px;
    }

    .filter {
        display: none;
    }

    #mobile-form {
        display: flex;
        
    }

    .mobile-search {
        margin-left: 18px;
    }

    #fil-mobile {
        width: 327px;
        height: 70px;
        margin: -30px auto;
        border-radius: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding: 15px;
        border-style: none;
        background-color: var(--prime-mode-2);
    }

    .menu-fil-icon {
        position: relative;
        margin-left: 200px;
        margin-top: -5em;
        height: 30px;
        bottom: 40px;
    }

    #mobile-btn {
        position: relative;
        background-image: url(./assets/mobile/mobile-search-icon.svg);
        background-repeat: no-repeat;
        background-position: 13px;
        background-color: var(--violet);
        border-style: none;
        width: 48px;
        height: 48px;
        bottom: 30px;
        left: 30px;
        border-radius: 10px;
    }

    .jobs {
        grid-template-columns: auto;
    }

    .job-card {
        width: 300px;
        height: 253px;
        margin-right: 24px;
        margin-left: 28px;
    }

    .btn-2 {
        margin-top: -90px;
        margin-left: 100px;
    }

    .mobile-menu-container {
        position: fixed;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(126, 127, 127, 0.8);
        left: 100%;
        transition: all 400ms ease;
        z-index: 4;
    }

    .mobile-menu-container.active {
        left: 0;   
    }

    .menu-form {
        position: absolute;
        background-color: var(--prime-mode-2);
        width: 327px;
        height: 217px;
        margin-bottom: 380px;
    }

    .mobile-chk {
        display: flex;
        font-weight: 700;
        line-height: 20px;
        color: var(--prime-mode-3);
        padding: 20px;
    }
    
    #mobile-location {
        background-image: url(./assets/desktop/icon-location.svg);
        background-repeat: no-repeat;
        background-position: 20px;
        padding-left: 50px;
        border-style: none;
        border-bottom: 1px solid var(--dark-grey);
        font-size: 16px;
        font-weight: 400;
        width: 327px;
        height: 80px;
        background-color: var(--prime-mode-2);
    }

    .mb-btn {
        margin-left: 20px;
        width: 279px;
    }

    .scoot-navbar {
        flex-direction: column;
        width: 327px;
        height: 205px;
        margin-top: -20px;
        padding-bottom: 40px;
        border-radius: 10px;
    }

    .scoot-box {
        flex-direction: column;
    }

    .scoot-img {
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 130px;
        margin-top: -25px;
        border-radius: 15px;
    } 

    .scoot-img > img {
        width: 30px;
        height: 11px;
        margin-top: 20px;
        margin-left: 15px;
    }

    .scoot-sub {
        margin-left: 125px;
        margin-top: -10px;
    }

    .officelite-sub {
        margin-left: 100px;
        margin-top: -10px;
    }

    .pod-sub {
        margin-left: 135px;
        margin-top: -10px;
    }

    .pod-sub > p {
        margin-left: -10px;
    }

    .creative-sub {
        margin-left: 110px;
        margin-top: -10px;
    }

    .pomodoro-sub {
        margin-left: 110px;
        margin-top: -10px;
    }

    .coffeeroasters-sub {
        margin-left: 90px;
        margin-top: -10px;
    }

    .mastercraft-sub {
        margin-left: 95px;
        margin-top: -10px;
    }


    .button-wht {
        margin-left: 100px;
        margin-top: 10px;
    }

    .sct-details, .blogr-details, .vector-details, .officelite-details, .pod-details, .creative-details, .pomodoro-details, .maker-details, .coffeeroasters-details, .mastercraft-details, .crowdfund-details, .typemaster-details {
        width: 327px;
        height: 2421px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .sct-details::-webkit-scrollbar, .blogr-details::-webkit-scrollbar, .vector-details::-webkit-scrollbar, .officelite-details::-webkit-scrollbar, .pod-details::-webkit-scrollbar, .creative-details::-webkit-scrollbar, .pomodoro-details::-webkit-scrollbar, .maker-details::-webkit-scrollbar, .coffeeroasters-details::-webkit-scrollbar, .mastercraft-details::-webkit-scrollbar, .crowdfund-details::-webkit-scrollbar, .typemaster-details::-webkit-scrollbar {
        display: none;
    }

    .sct-article-head {
        flex-direction: column;
        margin-left: -200px;
        margin-top: -50px;
        padding-top: 30px;
    }

    #sct-article-head-sub {
        margin-left: -50px;
    }

    #sct-article-head-pomo {
        margin-left: -150px;
    }

    #sct-article-head-maker {
        margin-left: -100px;
    }

    #sct-article-head-fund {
        margin-left: -110px;
    }

    .sct-apply {
        width: 279px;
        height: 48px;
        margin-top: 30px;
        margin-left: -10px;

    }

    .docu-body {
        margin-top: 80px;
        margin-left: -25px;
        padding-top: 60px;
    }

    .sub-footer {
        display: none;
    }
}